* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

main {
    font-family: serif;
    background-color: rgb(255, 255, 255);
    padding-top: 3%;
    padding-left: 6rem;
    padding-right: 6rem;
}

header {
    height: 10vh;
    width: 100%;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid oklch(96.7% 0.001 286.375);
}

nav .logo {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.logo img {
    max-width: 100%;
    height: 50%;
}

.logo button {
    width: 7rem;
    padding: 10px;
    border-radius: 20px;
    background-color: antiquewhite;
    border-style: none;
    font-size: medium;
    font-family: serif;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navbar button {
    width: 10rem;
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    font-family: serif;
    background-color: rgb(255, 255, 255);
}

.heading {
    height: 80vh;
    width: 100%;
}

.heading h1 {
    font-size: 8rem;
    font-weight: 500;
    font-family: sans-serif;
    padding-top: 25vh;
}

.heading p {
    font-size: 2rem;
    margin-top: 20px;
}

.heading button {
    width: 10rem;
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    font-family: serif;
    background-color: black;
    color: white;
    border-style: none;
    margin-top: 40px;
    font-size: 1.5rem;
    font-family: sans-serif;
    width: 11%;
}

.scroll {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;


}

.container {
    height: 100%;
    width: 110%;
    display: flex;
    align-items: center;
    animation-name: scroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container img {
    height: 7vh;
    display: inline;
    align-items: center;
    margin: 50px;
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.features {
    margin-bottom: 50px;
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "sub-1 sub-2 sub-3 sub-4";
    gap: 3rem;

}

.sub-1 {
    grid-area: sub-1;
    background-color: rgb(244, 244, 245);
}

.sub-2 {
    grid-area: sub-2;
    background-color: rgb(244, 244, 245);
}

.sub-3 {
    grid-area: sub-3;
    background-color: rgb(244, 244, 245);
}

.sub-4 {
    grid-area: sub-4;
    background-color: rgb(244, 244, 245);

}

.sub {
    height: 100%;
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sub h1 {
    font-weight: 400;
    font-size: 2.7rem;
}

.sub h4 {
    font-size: 1.9rem;
    font-weight: 400;
}

.sub p {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: underline 2px black;
}

.work {
    height: 150vh;
    width: 100%;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.3fr 1fr 0.1fr 1fr 0.1fr;

    gap: 10px;
    grid-template-areas:
        "first first"
        "second second"
        "third fourth"
        "fifth sixth"
        "seventh eight"
        "ninth tenth"
    ;
}

.first {
    grid-area: first;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid oklch(91.512% 0.01089 286.048);
}

.first h4 {
    margin-top: 40px;
    font-weight: 500;
}

.second {
    grid-area: second;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second h1 {
    font-size: 4rem;
    font-weight: 500;
}

.second button {
    font-family: serif;
    padding: 20px;
    width: 10rem;
    border-radius: 30px;
    font-size: 20px;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
}

.third {
    grid-area: third;
}

.fourth {
    grid-area: fourth;
}

.fifth {
    grid-area: fifth;
}

.button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.button button {
    padding: 1rem;
    border-radius: 20px;
    font-size: 20px;
    font-family: serif;
    width: 20%;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
}

button:hover {
    background-color: black;
    color: white;
}

.sixth {
    grid-area: sixth;
}

.seventh {
    grid-area: seventh;
}

.eight {
    grid-area: eight;
}

.ninth {
    grid-area: ninth;
}

.tenth {
    grid-area: tenth;
}



.img {
    overflow: hidden;
    object-fit: cover;
}

.img img:hover {
    width: 110%;
    height: 110%;
}

.img img {

    height: 100%;
    width: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    object-position: center;
}

.values {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid oklch(91.512% 0.01089 286.048);

}

.values h4 {
    font-weight: 500;
    margin-top: 20px;
}

.cards {
    margin-top: 60px;
    height: 100vh;
    width: calc(100vw - 12rem);
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 40px;
    grid-template-areas:
        "card-1 card-2 card-3 card-4"
        "card-5 card-6 card-7 card-8"
    ;
}

.card-1 {
    grid-area: card-1;
    background-color: rgb(241, 245, 249);
    height: 100%;
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-2 {
    grid-area: card-2;
    background-color: rgb(241, 246, 245);
}

.card-3 {
    grid-area: card-3;
    background-color: rgb(248, 248, 248);
}

.card-4 {
    grid-area: card-4;
}

.card-5 {
    grid-area: card-5;
}

.card-6 {
    grid-area: card-6;
    background-color: rgb(248, 248, 248);
}

.card-7 {
    grid-area: card-7;
    background-color: rgb(248, 237, 227);
}

.card-8 {
    grid-area: card-8;
    background-color: rgb(255, 250, 231);
}




.card-1 h1 {
    margin-bottom: 8rem;
    font-size: 2rem;
    font-weight: 400;
}


.card-1 p {
    font-size: 1.2rem;
    font-weight: 400;
}

.card-1 button {
    padding: 1.5rem;
    width: 70%;
    background-color: black;
    color: white;
    font-family: serif;
    font-size: 1.3rem;
    border-style: none;
    border-radius: 30px;
}

.text {
    height: 100%;
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text h1 {
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.text h4 {
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.artical {
    height: 80vh;
    width: calc(100vw - 12rem);
    padding: 5rem;
}

.title {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.section {
    height: 70%;
    display: flex;
    align-items: center;
}

.div-1 {
    height: 100%;
    width: 100%;
    font-size:xx-large;
    padding: 50px 40px 0px 150px;
    color: oklch(44.2% 0.017 285.786);
}

.div-2 {
    width: 100%;
    height: 100%;
    font-size:xx-large;
    padding: 50px 150px 0px 5px;
    color: oklch(44.2% 0.017 285.786);
}

.main-box2{
    height: 100vh;
    margin-top: 40px;
    margin-bottom: 90px;
}


.main-box2{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-1{
    height: 100%;
    width: 23%;
    padding: 80px 100px 80px 80px;
    background-color: rgb(241, 246, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-1 button{
    padding: 1.5rem;
    width: 70%;
    background-color: black;
    color: white;
    font-family: serif;
    font-size: 1.3rem;
    border-style: none;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-right: 80px;
}

.text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.text-box h1{
 font-size: 2.5rem;
 font-weight: 500;
}

.main-2{
    height: 100%;
    width: 23%;
}
.main-3{
    height: 100%;
    width: 23%;

}
.main-4{
    height: 100%;
    width: 23%;

}

.main-common1{
    width: 100%;
    height: 85%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-common img{
    width: 100%;
    height: 100%;
    
}

.main-common2{
    height: calc(100% - 85%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.main-common1::after{
     content: ""; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    letter-spacing: 20px;
    background-color: #F2F2F2;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: end;
    transform: translateY(101%); 
    transition: transform 0.3s ease; 
    pointer-events: none; 
}
.main-common1:hover::after {
    content: "\f23a \ee66 \eaba";
    transform: translateY(0); 
   font-family: "remixicon" !important;
    font-size: 30px;
    color: black;
}

.main-common2 h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.main-common2 button {
    padding: 1rem;
    border-radius: 20px;
    font-size: 20px;
    font-family: serif;
    width: 30%;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
}

button:hover {
    background-color: black;
    color: white;
}

.part1{
    border-bottom: 1px solid rgb(210, 197, 197);

}
.artical2{
    height: 80vh;
    width: 100%;
    margin-bottom: 80px;
}
.artical2 .artical2-1{
    height: 100%;
    width: 100%;
}

.artical2-1 .part1{
    height: 50%;
    width: 100%;
    display: flex;
}
.logo1{
    height: 100%;
    width: 50%;
    padding-left:90px;
    padding-top:50px;
}
.logo1 img{
    height: 15%;
}
.logo1 img{
    height: 15%;
}


.para{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:flex-start;
    gap: 50px;
    padding-top: 40px;
}

.para h3{
    font-weight: 500;
}
.para h1{
    font-size: 50px;
    font-weight: 500;
}
.para2{
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content:flex-start; */
    gap: 50px;
    padding-top: 40px;
}

.para2 h3{
    font-weight: 500;
}
.para2 h1{
    font-size: 50px;
    font-weight: 500;
}

.contact{
    height: 70vh;
    width: 100%;
    display: flex;
    gap: 150px;
    padding: 100px;
    margin-bottom: 60px;
}

.contact p{
    font-size: larger;
}

.contact2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact2 h1{
    font-size: 90px;
    font-weight: 500;
}
.contact2 h3{
    font-size: 40px;
    font-weight: 500;
}

.contact2 button{
    padding: 1.5rem;
    width: 20%;
    background-color: black;
    color: white;
    font-family: serif;
    font-size: 1.3rem;
    border-style: none;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-right: 80px;
}


.blog {
    height: 100vh;
    width: 100%;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.9fr 0.1fr;

    gap: 50px;
    grid-template-areas:
        "first first first first"
        "second second second second"
        "third fourth seventh eight"
        "fifth sixth ninth tenth"
    ;
}

.first {
    grid-area: first;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid oklch(91.512% 0.01089 286.048);
}

.first h4 {
    margin-top: 40px;
    font-weight: 500;
}

.third {
    grid-area: third;
}

.fourth {
    grid-area: fourth;
}

.fifth {
    grid-area: fifth;
}

.sixth {
    grid-area: sixth;
}

.seventh {
    grid-area: seventh;
}

.eight {
    grid-area: eight;
}

.ninth {
    grid-area: ninth;
}

.tenth {
    grid-area: tenth;
}
.data {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.data h3{
    font-size: 2rem;
    font-weight: 500;
}
.data p{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(95, 88, 88);
}

.img {
    overflow: hidden;
    object-fit: cover;
}

.img img:hover {
    width: 110%;
    height: 110%;
}

.img img {

    height: 100%;
    width: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    object-position: center;
}

footer{
    min-height: 50vh;
}
.main-footer{
    display: flex;
    gap: 20px;
    padding-bottom: 100px;
    border-bottom: 1px solid #dfdfdf;
}
#box1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 45px;
}
#box1 i{
    font-size: 20px;
    padding: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #f0f7f5;

}

.box{
    height: 350px;
    padding: 10px;
    width: 25%;
}
.box .heading2{
    padding-bottom: 10px;
    border-bottom: 1px solid #dfdfdf;
}
.box .heading2 h2{
    font-weight: 400;
    font-size: 20px;
}
.box .links{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0;
}
.links button{
    font-size: 15px;
    width: fit-content;
    padding: 15px 25px;
    font-family: serif;
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
}
.box .links a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 15px;
}



.copyrights{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyrights .left p{
    color: #52535c;
    font-size: 14px;
}
.copyrights .left p span{
    color: black;
    text-decoration: underline;
}
.copyrights  .right a{
    font-size: 14px;
    color: #52535c;
    text-decoration: none;
    margin-left: 20px;
}